* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow-y: hidden;
    margin: 0;
    font-family: 'Inter', 'Roboto', 'Helvetica Neue', sans-serif;
    background-color: #0D1117;
    color: #F0F6FC;
}

/* dashboard container */
.dashboard-container {
    display: flex;
    padding-inline: 10%;
    height: 100%;
    background-color: #0D1117;
    width: 90%;
    margin-inline: auto;
}

/* display area for user or channel chats */
.chat-display-area {
    display: flex;
    flex-direction: column;
    width: 68%;
    height: calc(100vh - 20px);
    border: #2D3A45 solid 2px;
    border-left: none;
    margin: 10px 5px 10px 0px;
    background-color: #1F2933;
    color: #F0F6FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* left navigation container */
.navleft-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 28%;
    height: calc(100vh - 20px);
    border: #2D3A45 solid 2px;
    margin: 10px 0px 10px 5px;
    background-color: #161B22;
    color: #F0F6FC;
    overflow: auto;
    padding: 30px 20px 40px 50px;
    font-size: 1rem;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

/* logo */

.logo {
    text-align: left;
    padding-left: 12px;
    padding-bottom: 10px;
  }

.logo img {
   display: inline-block;
}

/* user & channel containers */
.show-users-container,
.show-channels-container {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    max-height: 59%;
}

.user-list-container {
    padding: 4px 30px;
    overflow-y: auto;
    color: #58A6FF;
}

.channel-list-container {
    padding:4px 30px 4px;
    overflow-y: auto;
    color: #58A6FF;
}

/* buttons */
.show-user-button button,
.show-channel-button button,
.create-channel-container button,
.logout-button button {
    background-color: transparent;
    border: none;
    color: #F0F6FC;
    font-size: 1.1rem;
    cursor: pointer;
}

.create-channel-container button {
    padding-bottom: 10px;
}

.show-user-button button:hover,
.show-channel-button button:hover,
.create-channel-container button:hover,
.logout-button button:hover {
    color: #FF7B72;
}

.user-id {
    font-size: 0.7rem;
    color: #8B949E;
}

/* no message display */
.no-message h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* images or avatars */
img.group-avatar, img.person-avatar {
    align-items: center;
    align-content: center;
    vertical-align: middle;
    padding-right: 2px;
  }
