@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

/* App.css */
.hide-scrollbar {
    overflow: auto;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: transparent transparent; /* hide when not hovered */
    transition: scrollbar-color 0.3s ease;
  }
  
  /* On hover - show scrollbar in Firefox */
  .hide-scrollbar:hover {
    scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
  }
  
  /* Chrome / Safari */
  .hide-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .hide-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
    transition: background-color 0.3s ease;
  }
  
  .hide-scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
  }
  